header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2rem;
    background-color: #3b4248;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8%;
    height: 2rem;
    background-color: #3b4248;
    color: white;
    font-size: large;
    font-size: x-large;
    padding-left: 1%;
}
nav{
    display: flex;
    align-items: flex-start;
    margin: .5%;
    font-size: 14px;
}
.searchBar{
    display: flex;
    justify-content: flex-end;
    position:absolute;
    right: 75px;
     /* width: 50%;  */
}
button{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 12px;
    color: goldenrod;
    border: 1px solid goldenrod;
    background-color: #3b4248;
}
.login{
text-align: center;
padding-top: 5%;
height: 10rem;
font-size: 125%;

}
.emailPassword{
    display: flex;
    justify-content: center; 
    margin: 2.2%;
    width: 20%;
    height: 15%;
    margin-left: 40%;
}
.buttonLogin{
    color:white;
    background-color: blue;
    display: flex;
    justify-content: center;
    right: 48%;
}
.browse{
    color:white;
    display: flex;
    align-items: flex-start;
    margin: .5%;
    font-size: 14px;
    text-decoration: none;
}
.backNav{
    width: 100%;
    background-color: grey;
    color: goldenrod;
    margin-top: 1%;
    height: 2rem;
    display:flex;
    align-items: center;
    padding-left: 1%;
}
section{
    display:flex;
    flex-wrap: wrap; 
    width: 100%;
    margin-left: 8%;
}
img{
    width: 15%;
    margin:3%;
    border: 1px solid black;
}
